//Variables
$sse-font: 'Segoe UI';
$sse-color: #333333;
$component-page-header-size:38px;
$cseo-brand-primary: #00CC6A;

p {
    line-height: normal;
}
 a {
     color: $cseo-brand-primary;
 }
 a:hover {
     color:#00852d;
 }
.font-medium {
    font-size: 14px;
}
.GlobalHeader {
    font-family: $sse-font;
    font-size: 18px;
    color:$cseo-brand-primary;
    padding: 40px 200px 0 40px;
}
.global-links{
    color: $cseo-brand-primary;
}
.SubHeader {
    font-size: 20px;
    font-weight: 600;
    padding: 0px 0px 20px 0px;
}
.semibold{
    font-weight: 600;
}
.PageHeader {
    flex-grow: 1;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    color: $sse-color;
    font-size: $component-page-header-size;
    font-family: 'Segoe UI';
    text-align: left; 
    font-weight: 700;
}
.PageContent {
    background: #FAFAFA;
    min-height: 100vh;;
}
.HomePageContent {
    background: #333;
    min-height: 100vh;
    color: #fff;
}
.PageContent-spacing{
    padding: 30px 0px 20px 40px;
    
}
.Homepage-title {
    font-weight: bold;
    font-size: 36px;
    display: flex;
    margin: 100px 0px 0 40px;
    line-height: normal;
}
.HomePage-contact {
    color: white;
    font-size: 16px;
    display: flex;
    float: right;
    padding: 0px 0px 50px 0;
}
.Homepage-contact-link {
    color: white;
    text-decoration: none;
}
.Homepage-contact-link:hover {
    color: #c3c3c3;
}
.Homepage-desc {
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    width: 50%;
    padding: 10px 50px 0 60px;
    line-height: normal;
}
.Home-cseo-header {
    display: inline;
    color: white;
    font-weight: bold;
}
.Page-cseo-header {
    display: inline;
    color: #333333;
    font-weight: bold;
}
.Intro {
    margin: 20px 300px 20px 0px;
    line-height: normal;
}
.Content {
    margin: 20px 300px 20px 0px;
    line-height: normal;
}
.CardImage-spacing{
    padding: 30px 0px 60px 40px;
    
}
.CodeIntro {
    margin: 30px 300px 50px 0px;
    line-height: normal;
}
.Code-list-col1 {
    width: 20%;
    padding: 20px 0 0 0;
}
.Code-list-spacing {
    padding: 20px 0 0 100px;
}
.CodeBody {
    margin: 30px 0px 50px 0px;
    line-height: normal;
}
.Code-inline {
    background: white;
}
.Designer-quicklinks {
    font-size: 16px;
    float: right;
    padding: 0 30px 50px 0;
}
.Designer-steps {
    font-size: 18px;
    font-weight: 700;
    padding: 50px 0px 20px 0px;
}
.contact-quicklinks {
    font-size: 16px;
    display: flex;
    float: right;
    font-weight: 600;
    padding: 0 30px 50px 0;
    color: $cseo-brand-primary;
    a {
        text-decoration: none;
    }
}
.Developer-steps {
    font-size: 18px;
    font-weight: 700;
    padding: 50px 0px 0px 0px;
}
.OverviewIntro {
    font-size: 18px;
    font-weight: 500;
}
.med-spacing {
   margin:50px 0px 0px 0px;
}
.sm-spacing {
    margin:25px 0px 0px 0px;
 }
.no-spacing {
    margin:0;
 }
 .CodeHighlights {
    display: inline;
    background:#fff;
    font-family: monospace;
 }
 ol li.figma-options {
    padding: 0 0 20px 0px;
 }
 .image-width {
    width: 100%;
}
.image-width-75 {
    width: 75%;
}
.image-width-90 {
    width: 90%;
}
.Image-spacing{
    padding: 20px 0 0 0;    
}
.Microsoft-logo {
    background:#f2f2f2;
    padding: 20px 0 10px 30px;
    z-index: 2;
}
.resources-spacing {
    margin:30px 200px 50px 0;
 }
.resources-cols {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    width: 17.25rem;
    margin: .5rem;
}
.resources-cols li {
    list-style: none;
    padding: 0 0 20px 0px;
}
.resources-list {
    padding: 0;
}
.quicklinks {
    color: $cseo-brand-primary;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0 0 0;
}
.footer-links {
    display: inline;
    background: #f2f2f2;
    padding: 20px 67px 0px 50px;
    text-align: right;
    text-decoration: none;
   
   a, p {
       color: #616161;
       padding: 0px 12px 0px 12px;
       display: inline;
       font-size: 11px;
   }
   a:hover {
    color: #000;
    
   }
}


