//Variables
$sse-font: 'Segoe UI';
$sse-color: #333333;
$component-page-header-size:38px;
$cseo-brand-primary: #11CE0D;

p {
    line-height: normal;
}
.font-medium {
    font-size: 14px;
}
.GlobalHeader {
    font-family: $sse-font;
    font-size: 18px;
    color:$cseo-brand-primary;
    padding: 40px 0px 0 40px;
}
.SubHeader {
    font-size: 20px;
    font-weight: 600;
    padding: 0px 0px 30px 0px;
}
.PageHeader {
    flex-grow: 1;
    padding: 0px 0px 0px 0px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    color: $sse-color;
    font-size: $component-page-header-size;
    font-family: 'Segoe UI';
    text-align: left; 
    font-weight: 700;
}
.PageContent {
    background: #FAFAFA;
    min-height: -webkit-fill-available;
}
.HomePageContent {
    background: #000;
    min-height: -webkit-fill-available;
    color: #fff;
}
.PageContent-spacing{
    padding: 30px 0px 20px 40px;
    
}
.Homepage-title {
    font-weight: bold;
    font-size: 36px;
    display: flex;
    margin: 100px 0px 0 40px;
    width: 100%;
}
.HomePage-contact {
    color: white;
    font-size: 16px;
    display: flex;
    float: right;
    padding: 0px 200px 50px 0;
}
.Homepage-desc {
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    width: 50%;
    padding: 0 80px 0 60px;
    line-height: normal;
}
.Home-cseo-header {
    display: inline;
    color: white;
    font-weight: bold;
}
.Intro {
    margin: 20px 300px 20px 0px;
    line-height: normal;
}
.Content {
    margin: 20px 300px 20px 0px;
    line-height: normal;
}
.CardImage-spacing{
    padding: 30px 0px 60px 40px;
    
}
.CodeIntro {
    margin: 30px 300px 50px 0px;
    line-height: normal;
}
.Code-list-col1 {
    width: 20%;
    padding: 20px 0 0 0;
}
.Code-list-spacing {
    padding: 20px 0 0 100px;
}
.CodeBody {
    margin: 30px 0px 50px 0px;
    line-height: normal;
}
.Designer-quicklinks {
    font-size: 16px;
    float: right;
    padding: 0 30px 50px 0;
}
.Designer-steps {
    font-size: 18px;
    font-weight: 700;
    padding: 50px 0px 30px 0px;
}
.Developer-quicklinks {
    font-size: 16px;
    display: flex;
    float: right;
    padding: 0 30px 50px 0;
    color: $cseo-brand-primary;
}
.Developer-steps {
    font-size: 18px;
    font-weight: 700;
    padding: 50px 0px 0px 0px;
}
.OverviewIntro {
    font-size: 18px;
    font-weight: 500;
}
.med-spacing {
   margin:50px 0px 0px 0px;
}
.sm-spacing {
    margin:25px 0px 0px 0px;
 }
.no-spacing {
    margin:0;
 }
 .CodeHighlights {
    display: inline;
    background:#fff;
    font-family: monospace;
 }
 ol li.figma-options {
    padding: 0 0 20px 0px;
 }
 .image-width {
    width: 100%;
}
.image-width-75 {
    width: 75%;
}
.image-width-90 {
    width: 90%;
}


