.type38 {
    font-size: 38px;
    font-weight: bold;
}
.type28 {
    font-size: 28px;
    font-weight: bold;
}
.type24 {
    font-size: 24px;
    font-weight: 600;
}
.type18 {
    font-size: 18px;
    font-weight: 600;
}
.type16 {
    font-size: 16px;
}
.type14-body {
    font-size: 14px;
    font-weight: 600;
}
.type14-secondary {
    font-size: 14px;
}
.type12 {
    font-size: 12px;
}
.type10 {
    font-size: 11px;
}
.type-col-1 {
    padding: 0 0 50px 0px;
}
.type-col-2 {
    padding: 0px 0px 50px 100px;
}